// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #4640DE;
$orange: #FD4A29;
$grey: #F5F5F5;
$lightblue:#DCF0FB;
$fb-blue:#1877F2;
