// Body
$body-bg: #fff;

// Typography
$title-font-family: "Comfortaa", cursive;
$text-font-family: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #4640de;
$orange: #fd4a29;
$light-grey: #f6f7fb;
$dark-grey: #666666;
$light-blue: #dcf0fb;
$fb-blue: #1877f2;
$black: #000000;

//

$border-radius: 5px;
