// Fonts
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $text-font-family;
    color: $black;
    height: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: $title-font-family;
}

.top {
    background-color: $light-blue;
}
.navbar a {
    color: $dark-grey;
}

footer {
    width: 100%;
    background-color: $dark-grey;
    text-align: center;
    padding: 10px;
}

footer p {
    color: $light-grey;
}
h3 {
    color: $blue;
}

.btn {
    font-size: 1em;
    background-color: $blue;
    color: $white;
    border: none;
}

.form-control {
    font-size: 1em;
}
.navbar {
    margin-left: 20px;
    margin-right: 20px;
}
.collapse {
    width: 100%;
}
.navbar a:hover {
    color: $orange;
}
.navbar .active {
    color: $orange;
    font-weight: 700;
}
.container-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10%;
    height: 100px;
}

.container-nav_h2 {
    align-self: end;
}

.container-nav_h2 h2 {
    font-size: 3em;
}

.container-nav_form {
    align-self: end;
    padding-bottom: 20px;
    justify-self: end;
    border-radius: $border-radius;
    width: 60%;
}

.container-nav_form input {
    border: none;
    background: $white;
    border-radius: $border-radius;
}

.username p {
    color: $orange;
    font-weight: 600;
}
.username span {
    padding-left: 2px;
}

/*-----COMPANIES-----*/
.form-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: $blue 1px solid;
}

/* On mouse-over, add a grey background color */
.form-check:hover input ~ .checkmark {
    background-color: $blue;
}

/* When the checkbox is checked, add a blue background */
.form-check input:checked ~ .checkmark {
    background-color: $blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.form-check .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container_companies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    overflow: hidden;
}
.companies_filters {
    background-color: $light-grey;
    margin: 0;
    padding: 30px;
    position: sticky;
}

.companies_form {
    width: 80%;
}
.companies_filters h5 {
    color: $blue;
    font-size: 1.2em;
}

.panel-heading {
    padding: 5px;
    margin-bottom: 10px;
}

.companies_filters h6 a {
    color: $dark-grey;
    font-size: 1.5em;
}

.companies_filters h6 a:hover {
    text-decoration: none;
}

.companies_filters p {
    font-size: 1em;
}

.companies_filters .glyphicon {
    float: right;
}

.companies_filters form {
    margin-bottom: 30px;
}
.companies_filters .form-check {
    margin-left: 10px;
}

.companies_filters button {
    margin-top: 30px;
}

.companies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
    margin: 30px;
    grid-column: 2 / span 3;
}

.companies__detail {
    padding: 10%;
    background-color: $light-grey;
    border-radius: $border-radius;
}
.companies__detail a {
    text-decoration: none;
    color: $black;
    font-family: $title-font-family;
    margin-bottom: 10px;
}
.companies__detail a:hover {
    text-decoration: underline $orange;
    color: $blue;
}
.companies__detail p {
    color: $dark-grey;
    font-size: 0.8em;
}

.companies__detail img {
    width: 40px;
    height: 40px;
    background-color: $white;
    margin-bottom: 20px;
    border: none;
}
.companies__line {
    border-top: 1.2px solid;
    color: $blue;
}

/*-----COMPANIES-DETAIL-----*/

.form_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    margin: 30px;
    grid-column: 2 / span 3;
}

.tags input {
    position: relative;
}
/*-----DASHBOARD-----*/
.container {
    margin-top: 30px;
}

/*----PROFILE-------*/
.container-profile {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    position: absolute;
    left: 0px;
}

.container-profile button {
    grid-column-end: span 1;
}

.col-md.profile {
    padding: 40px;
}

.container-profile h5 {
    color: $blue;
}

.card-body.button {
    position: relative;
    float: right;
    padding: 0px;
}

.profilepic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    padding: 30px;
}

.container-profile h4 {
    color: $orange;
}

.editpart {
    background-color: $light-grey;
    margin-bottom: 30px;
    padding: 80px;
}

.required {
    margin-top: 10px;
    font-size: 10px;
    color: $dark-grey;
}
.editpart h2 {
    color: $blue;
}

.socialicon {
    width: 25px;
}


.profileCard {
    position: relative;
}

.editicon {
    position: absolute;
    right: 15px;
    top: 20px;
}

.editicon:hover {
    cursor: pointer;
}

.addicon {
    right: 40px;
}

.skillsGrid, .socialGrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.socialGrid{
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
}

.pSkills{
    max-width: 1fr;
    grid-column: 1fr;
    padding: 5px;
}

/*---Company show---*/

.company-show_info {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.company-show_info_photo {
    padding: 5%;
    background-color: red;
}

.company-show_info_text {
    width: 70%;
}
.company-show_info_text h1 {
    margin-bottom: 5%;
}
.company-show_contact {
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.company-show span {
    font-weight: 700;
}
.company-show_reviews {
    margin-bottom: 5%;
}
.company-show_reviews-one {
    border-radius: $border-radius;
    background-color: $light-grey;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.company-show_reviews h2 {
    margin-bottom: 30px;
}


/* ------ login & register students ------- */

.grid-buttons{
    display:grid;
    grid-template-columns: 1fr 2fr
}

.grid-button{
    grid-column: 1fr;
}

.grid-button:nth-of-type(2){
    grid-column: 2fr;
    padding: 18px;
    padding-left: 0px;
}


/* ----- internships -----  */

.companies__detail>.btn-secondary{
 color:white !important;
}
