// Fonts
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//validation

.validation{
    overflow: hidden;
}
//logo

.logo {
    margin-left: 40px;
    margin-top: 40px;
    position: absolute;
}

.logo img {
    height: 40px;
    width: auto;
}

//left
.left {
    height: 100vh;
    background: $light-blue;
    font-family: $title-font-family;
}

.left h2 {
    width: 90%;
    padding-top: 35%;
    margin-left: 10%;
    font-size: 60px;
}

h2 span {
    color: $orange;
}

//form

.form {
    padding-top: 10%;
    padding-left: 20%;
}
.wrap-form {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.form-container {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}
.form-body {
    width: 100%;
}
.form-title {
    font-family: $title-font-family;
    color: $blue;
    padding-bottom: 5%;
}

.form-body input {
    border: none;
    background: $light-grey;
    margin-bottom: 15px;
}

.form-body button {
    background: $orange;
    border-radius: 5px;
    padding: 5px 30px;
    color: $white;
    border: none;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.form-body button:hover {
    filter: grayscale(0.2);
}

.form-body input#remember {
    width: 30px;
}

a.btn-link {
    margin-left: 10px;
}

.form-body button {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 0;
}
