// Fonts
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


p{
    font-family: $text-font-family;
    color:$dark-grey;
}

h1,h2{
    font-family: $title-font-family;
    color: $blue;
}
h3{
    font-family: $title-font-family;
    color: $orange;
    font-size: 1em;
}

h2{
    padding-bottom: 20px;
}
.hero{
    background-color: $lightblue;
    padding: 2% 8% 2% 8%;
}

.hero h1{

    width: 50%;
    font-size: 4em;

    padding-top: 5%;

}

.hero h1 span{
    color:$orange;
}

.hero  p {
    width: 40%;
    padding: 2% 0;
}

.hero  p span{
    font-weight: bold;
}

.links{
    margin-bottom: 20px;
}
.links a {
    border: 3px solid;
    border-radius: 10px;
    margin: 10px;
    padding:10px 55px;
    font-weight: bold;
    
}

.links .student {
    color: $orange;

}

.hero .top_question{
    font-family: $title-font-family;
    font-size: 1.5em;
}

/*About*/
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}


/*Services*/

.services h2{
    display: block;
    text-align: center;
}

.services_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.service_1, .service_2{
    padding: 10%;
}


.container{
    padding: 5% 8% 5% 8%;
}