// Fonts
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


p{
    font-family: $text-font-family;
    color:$dark-grey;
}

h1,h2{
    font-family: $title-font-family;
    color: $blue;
}
h3{
    font-family: $title-font-family;
    color: $orange;
    font-size: 1em;
}

h2{
    padding-bottom: 20px;
    font-weight: bold;
}
.internships, .services , footer{
    width: 80%;
    margin: 0 auto;
    padding-top:10%;

}

.internships{
    padding-bottom:10%;
}

.title_hr{
    border-top: 7px solid ;
    color:$orange;
    width: 80px;
    text-align: left;
    margin-left:0;
}

/* Navigatie */

.navbar{
    padding: 1% 7% 1% 7%;
    background-color: $lightblue;
}

#student{
    background-color: $orange;
    width: 120px;
    border-radius: 10px;

    a{
        color:$white;
        text-align: center;
    }
}

#company{
    background-color: $blue;
    width: 120px;
    border-radius: 10px;
a{
    color:$white;
    text-align: center;
    
}
}

/* Hero */
.hero{
    background-color: $lightblue;
    padding: 2% 8% 2% 8%;
}

.hero h1{

    width: 50%;
    font-size: 4em;

    padding-top: 5%;

}

.hero h1 span{
    color:$orange;
}

.hero  p {
    width: 40%;
    padding: 2% 0;
}

.hero  p span{
    font-weight: bold;
}

.links{
    margin-bottom: 20px;
}
.links a {
    border: 3px solid;
    border-radius: 10px;
    margin: 10px;
    padding:10px 55px;
    font-weight: bold;
    
}

.links .student {
    color: $orange;

}

.hero .top_question{
    font-family: $title-font-family;
    font-size: 1.5em;
}

/*Internships*/
.internships form{
margin-bottom: 5%;

}

.details-button{
    display: block;
    background-color: $orange;
    color:$white;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border:none;
    margin: 0;

}
.more-button{
    margin:0 auto;
    display: block;
    background-color: $orange;
    color:$white;
    width: 120px;
    height: 35px;
    border-radius: 10px;
}
.internships_count{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
    margin: 30px;
    grid-column: 2 / span 3;
}
.internships__detail{
    background-color:$light-grey;
}
.internships_detail-padding{
    padding:10%;
}
.internships__detail a{
    text-decoration: none;
    color:$black;
    font-family:$title-font-family;
    margin-bottom: 10px;
}
.internships__detail a:hover{
    text-decoration: underline $orange;
    color:$blue;
}
.internships_detail p{
    color:$dark-grey;
    font-size: 0.8em;
}

.internships__detail img{
   width: 40px;
   height: 40px;
  background-color:$white;
   margin-bottom: 20px;
   border:none;
 
}
.internships__line{
    border-top: 1.2px solid ;
    color:$blue;
}

.internships__detail button{
width: 100%;
background-color: $blue;
color:$white;
border:none;
height: 40px;
border-radius: 0;
}

/*About*/
.about{
    margin-bottom:10%;
}
.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 300px;
}
.balk{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:200px;
    background: $lightblue;
    padding: 2% 8% 2% 8%;
    margin-bottom:-40px;
    align-items: end;
}
.balk .title{
    padding-left: 10%;
    padding-top: 8%;
}
.about_text{
    padding-left: 10%;

    width: 60%;
    
}



/*Services*/

.title_hr-services{
    border-top: 7px solid ;
    color:$orange;
    width: 80px;
    text-align: center;
}
.services h2{
    display: block;
    text-align: center;
}

.services_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.service_1, .service_2{
    padding: 10%;
}

.service_1::before{
    content: "";
    display: inline-block;
    background-image: url("../images/one.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
   
    height: 100px;
    width: 100px;
    margin-left: -65px;
    margin-bottom: -71px;
}

.service_2::before{
    content: "";
    display: inline-block;
    background-image: url("../images/two.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
   
    height: 100px;
    width: 100px;
    margin-left: -65px;
    margin-bottom: -71px;
}